*{
	margin:0;
	padding: 0;
}
body{
	height: 100%;
	overflow-y:hidden;
	overflow-x:hidden;
}
#top{
	height: 55px;
	width: 100%;
	background-color: rgb(243,243,243);
}
#top img{
	margin:15px 47%;	
	opacity: 0;
	cursor: pointer;
}
#wrap{
	width: 100%;
	height: 100%;
	display: flex;
 	justify-content:space-between;
}
.page1,.page2,.page3,.page4,.page5,.page6{
	cursor: pointer;
	width: 330px;
	height: 100%;
	display: block;
	position: relative;
}
 p,h1 {
	margin-left: 40px;
	width: 210px;
	display: block;
	opacity: 0;
	position: relative;
	color: white;
}
 p{
	margin-top: 40px;
}
 h1{
	font-size: 3em;
}
.smallRead{
	color: white;
	position: absolute;
	bottom: 80px;
	margin-top: 0px;
	font-family: times;
}
.word1{
	color: rgb(181,172,179);
}
.shadow{
	width: 100%;
	height: 15%;
	display: block;
	position: absolute;
	bottom: -100px;
	background-color: rgba(24,24,24,.3);
}
.page1{
	background-color: rgb(114,97,110);
}
.page2{
	background-color: rgb(232,132,107);
}
.page3{
	background-color: rgb(22,82,142);
}
.page4{
	background-color: rgb(229,75,75);
}
.page5{
	background-color: rgb(162,197,191);
}
.page6{
	background-color: rgb(22,142,128);
}